# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public

*.js


# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
remix/package-lock.json
remix/yarn.lock
remix/pnpm-lock.yaml
remix/pnpm-lock.yml

remix/node_modules

remix/build
remix/public/build
remix/.env

remix/cypress/screenshots
remix/cypress/videos
remix/postgres-data

remix/app/styles/tailwind.css
